table {
    float:left; 
}

#setLabel {
	font-style: bold;
}

svg {
    padding: 25px;
}

#firstHeader,#secondHeader,#thirdHeader {
    text-align: center;
    font-weight: bold;
}

#toHex, #index, #hsl,
#rgb_r,#rgb_g,#rgb_b,
#rgb8_r,#rgb8_g,#rgb8_b,
#hcy_h,#hcy_c,#hcy_y,
#lab_l,#lab_a,#lab_b,
#lchAB_l,#lchAB_c,#lchAB_h,
#lch99_l,#lch99_c,#lch99_h,
#luv_l,#luv_u,#luv_v,
#lchUV_l,#lchUV_c,#lchUV_h,
#lms_l,#lms_m,#lms_s,
#hslCalc_h,#hslCalc_s,#hslCalc_l {
	float:left;
	text-align: center;
	margin-top: 20px;
}


#hsl_h, #hsl_s, #hsl_l, #rgbSpace,#rgb8Space,#hcy,#lab,#lchAB,#lch99, #luv,#lchUV,#lms,#hslCalc {
	float:left;
	text-align: center;
	padding-left: 5px;
}

#rgbHeader,#rgb8Header,#hcyHeader,#labHeader,#lchABHeader,#lch99Header,#luvHeader,#lchUVHeader,#lmsHeader,#hslCalcHeader {
	float:left;
	position: absolute;
	text-align: center;
	padding-left: 2.2%;
}

#colorWhiteBG,#colorBlackBG {
	float:left;
	width:110px;
	margin-top: 30px;
}

#leftcolumnWhiteBG,#leftcolumnBlackBG {
	float:left;
	width: 50px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}

#rightcolumnWhiteBG,#rightcolumnBlackBG {
	float:left;
	width: 50px;
	margin-top:10px;
	margin-bottom:10px;
}
